# ----------------------
# Flask
# ----------------------
flask
flask-cors


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn


# ----------------------
# Mongo DB
# ----------------------
pymongo[tls,srv]
Flask-PyMongo
jsonfy
pyjwt